<div style="padding: 100px; display: flex; align-items: center;">
    <div class="img">
        <img class="items-center" style="width: 600px;" src="/images/empty_cart.png" alt="">
    </div>
    <div class="text">
        <h1>Empty Cart</h1>
        <p>Buy Any Products To Order</p>
        <a href="/" class="btn btn-primary">Go  Back</a>
    </div>
</div>